
.cards{

    margin:2%;
    background:lightgray;
    width:40%;
}


.hotels{
    height:150px;
    width:200px;
}

#map-view{
    display:none;
}

#hotels{
    display:flex;
    flex-wrap:wrap;
    gap:5%;

}

ul{
    list-style:none;
    display:flex;
    gap:2%;
    justify-content:center;
    margin-top:2%;
}

li{
    cursor:pointer;
}

.cards > a{
    color:black;
    text-decoration:none;

}

#list{
    background:aqua;
    padding:0.5%;
    border-radius:10%;
}


.cards:hover{
    background:rosybrown;
}














