
.cards{

    margin:2%;
    background:rgb(132,136,139);
    width:40%;
}


.hotels{
    height:150px;
    width:200px;
}

#map-view{
    display:none;
}

#hotels{
    display:flex;
    flex-wrap:wrap;
    gap:5%;

}

ul{
    list-style:none;
    display:flex;
    gap:2%;
    justify-content:center;
}

li > a{
    text-decoration:none;
    color:black;
}







