.radisson{
    height:300px;
    width:270px;
    
}



#radisson-details{
    background:lightgray;
    height:300px;
    width:500px;
    
}

#customer{
    margin:2%;
}

#radisson{
    display:flex;
    width:700px;
    height:300px;
    margin:2% auto;
}

#radisson-content{
 margin-left:2%;
}





#payment-details{
    display:flex;
    justify-content:center;
    
    background:rosybrown;
    border-radius:5px;
    gap:10%;
    margin:2% 2% 4% 2%;
}

#traffic{
    margin-top:4%;
}

#payment{
    margin-top:4%;
}




